.badge{
    background-color: tomato;
        width: 25px;
        height: 25px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 600;
    
        left: 20px;
        bottom: 15px;
}


.badge__dot{
    background-color: tomato;
        width: 5px;
        height: 5px;
        border-radius: 15px;
    position: absolute;

    right: 18px;
    top: 25px;
}